@import 'antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: inherit;
}

a {
  color: #333333;
}

a:hover {
  color: #333333;
}

ul, li {
  list-style: none;
}